	
	Дифференцированый платеж: <br>
 	Сумма возврата основного долга <br>
 		<%= @basic_debt.round(2) %> <br>
 	<br>
	
	
	Сумма переплат <%= @credit_overpayment.round(2) %><br>
	
	Сумма аннуитетного платежа (равными суммами) <br>
	<%= @annuity_due.round(2) %> <br>
	<br>
	
	
	Сумма переплат <%= @annuity_overpayment.round(2) %>
	<br>
	
	<a href='/'>Back</a>