<form action="/credit_calculations" method="post" accept-charset="utf-8">
	<label>Сумма кредита</label><br>
	<input type="text" name="credit_sum" value="" id="credit_sum"><br>
	<label>Срок кредитования в месяцах</label><br>
	<input type="text" name="number_of_periods" value="" id="number_of_periods"><br>
	<label>Ставка годовых % </label><br>
	<input type="text" name="interest_rate" value="" id="interest_rate"><br>
	<input type="submit" value="Посчитать">
</form>
